{% extends 'base.html' %}

{% block title %}Upcoming Shows in Washington, DC{% endblock title %}

{% block content %}
    <table>
	<tr>
	    <th>Venue</th>
	    <th>Title</th>
	    <th>Start Time</th>
	</tr>
	{% for concert in concerts %}
	    <tr>
		<td><a href="{% url 'view_venue' concert.venue.pk %}">{{ concert.venue.name }}</a></td>
		<td>{{ concert.title|truncatechars:100 }}</td>
		<td nowrap>{{ concert.start_time|date:"D, M d h:i A" }}</td>
	    </tr>
	{% endfor %}
    </table>
{% endblock content %}
